<div class="container bg-light p-4 rounded my-3 mx-auto shadow table-responsive">
  <table class="table table-hover table-bordered text-center">
    <thead class="bg-primary text-white">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Task</th>
        <th scope="col">Details</th>
        <th scope="col">Action</th>
        <th scope="col">Complete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of allTask; let id = index" [ngClass]="{'table-success': item.isCompleted}">
        <th scope="row">{{ id + 1 }}</th>
        <td [ngClass]="{'text-decoration-line-through text-muted': item.isCompleted}">{{ item.title }}</td>
        <td [ngClass]="{'text-decoration-line-through text-muted': item.isCompleted}">{{ item.details }}</td>
        <td>
          
          <a *ngIf="!item.isCompleted" class="btn btn-sm btn-primary" [routerLink]="['/edit', item.id]">Edit</a>
          <button (click)="deletItem(item.id)" class="btn btn-sm btn-danger mx-1">Delete</button>
        </td>
        <td>
          <button (click)="toggleComplete(item)" 
                  class="btn btn-sm" 
                  [ngClass]="{'btn-success': item.isCompleted, 'btn-outline-success': !item.isCompleted}">
            ✔️
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
